.banner-section {
  text-align: center;
  padding: 20px 0;
}

.banner-section.banner-section-usp {
  @media #{$small-only} {
    text-align: left;
    padding: 0;
    .banner-section-row {
      padding: 15px;
      border-bottom: 1px solid $gray-tertiary;
    }
    .banner-title {
      display: none;
    }
    .banner-subtitle {
      margin-top: 0px;
      font-size: 16px;
      color: black;
      font-weight: 500;
    }
    .banner-img {
      margin-top: 3px;
      margin-bottom: 0px;
      height: auto;
    }
    .banner-info {
      font-size: 16px;
      text-align: left;
      margin-bottom: 0;
    }
  }
}

.banner-section.banner-section-light {
  background-color: $white;
}

.banner-img {
  height: 50px;
  margin: 20px 0;
}

.banner-title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 15px;
  margin-bottom: 20px;
  color: $gray-primary;
  font-weight: bold;
  text-align: center;
}

.banner-subtitle {
  margin-bottom: 0;
  padding-bottom: 0;
}

.banner-title,
.banner-info {
  color: $gray-primary;
}

.banner-info {
  margin-top: 10px;
}

.banner-footer {
  margin-top: 20px;
}

.banner-section .bb-icon {
  font-size: 16px;
  position: relative;
}
