@import "header-dropdown";

.header {
  background-color: $blue-primary;
  padding: 0px 16px;
  z-index: $z-index-2;
  text-align: center;
  height: 58px;
  position: relative;

  a:focus,
  a:active,
  a:hover {
    text-decoration: none;
  }
}

.header-container {
  display: flex;
  align-items: center;
  height: 58px;
  justify-content: center;

  @media #{$large-up} {
    justify-content: start;
  }
}

.header .panel-logo {
  vertical-align: bottom;
}

.header .mobile-logo {
  height: 28px;
}

.header .icon {
  padding: 16px;
}

.header .icon a {
  // Increase hit target area
  display: block;
  padding: 16px;
  margin: -16px;

  // Make sure click events have the anchor tag as the `e.target`
  // See: https://css-tricks.com/links-inline-svg-staying-target-events/
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.header .icon svg {
  fill: white;
}

.header .icon-left {
  position: absolute;
  // Absolute-positioned elements must have z-index higher
  // than container to be clickable
  z-index: $z-index-2 + 1;
  top: 0;
  left: 0;
}

.header .icon-right {
  position: absolute;
  z-index: $z-index-2 + 1;
  top: 0;
  right: 0;
}

.header .nav {
  margin-top: 0;
  display: none;
}

.header .nav-link {
  font-weight: normal;
  color: white;
  fill: white;
  line-height: 18px;
}

.header .nav-pills .nav-icon {
  margin-right: 8px;
  vertical-align: sub;
}

.header .nav-pills .nav-item.open .nav-link {
  border: none;
}

.header .nav-tabs {
  border: none;
  margin-left: 16px;
}

.header .nav-item {
  display: inline-block;
}

.header .nav-tabs .nav-link {
  font-weight: 700;
  color: $white;
  padding: 18px 16px;
  border: none;

  svg {
    vertical-align: sub;
    margin-right: 8px;

    .step-text {
      fill: $blue-secondary;
    }
  }
}

.header .nav-tabs .nav-link:hover {
  border-bottom: 4px rgba(255, 255, 255, 0.5) solid;
}

.header .nav-tabs .nav-link.active {
  background: none;
  border: none;
  border-bottom: 4px $white solid;
}

.header .nav-tabs .nav-link.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.header .nav-tabs .nav-link.disabled:hover {
  border: none;
  color: $white;
}

.header .mobile-title {
  color: $white;
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 700;
}

.header .header-brand.has-mobile-title {
  display: none;
}

@media #{$large-up} {
  .header {
    height: 58px;
    font-size: 14px;
    text-align: left;
    background-color: $blue-secondary;

    // Header dropdown button, help button and Sign in button
    .header-dropdown,
    .account-header {
      display: inline-block;
    }

    .nav-pills {
      float: right;
      margin-left: auto;

      .nav-item {
        display: inline-block;
        padding: 0 5px;
      }
    }

    .pill {
      border-radius: 20px;
      padding: 12px 12px;
    }
    .pill:hover {
      background-color: $blue-primary;
      cursor: pointer;
    }
    .pill:active {
      background-color: $blue-primary;
    }

    .mobile-logo {
      height: 36px;
      margin: 0;
    }

    .header-brand.has-mobile-title {
      display: inline;
    }

    .nav {
      display: flex;
    }

    .icon {
      display: none;
    }

    .mobile-title {
      display: none;
    }
  }

  .header.header-transparent {
    background-color: transparent;
    box-shadow: none;
    padding-top: 15px;
  }
}

.header-inverse-colors {
  background-color: transparent;

  .icon svg {
    fill: $gray-primary;
  }

  .nav-link {
    font-weight: normal;
    color: $gray-primary;
    fill: $gray-primary;
  }

  .pill:hover {
    background-color: $gray-tertiary;
  }
  .pill:active {
    background-color: $gray-tertiary;
  }
}
