.price-calendar-tab-nav {
  box-shadow: $shadow-z-2;
  position: relative;
}

.price-calendar-tab-content {
  .tab-pane {
    display: none;
  }
  .tab-pane.active {
    display: block;
  }

  .more-link {
    display: block;
    margin-bottom: 3px;
    margin-top: 2px;
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.16);
    border-bottom: 1px solid $gray-tertiary;
    font-size: pxToRem(-18px);
    cursor: pointer;
    width: 100%;
    fill: $blue-primary;
  }

  .fake-card-wrapper {
    margin: pxToRem(-20px) 0 0 0;
    height: 50px;
    overflow: hidden;
    opacity: 0.5;
  }

  .fake-card-wrapper-mobile {
    height: 35px;
    overflow: hidden;
    background: $white;

    & .card-mobile-departure {
      opacity: 0.5;
    }
  }

  .card-departure {
    [data-price-calendar-departure-link] {
      cursor: pointer;
      &:focus {
        box-shadow: none;
      }
    }
  }

  .card-mobile-departure {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

.prices-calendar {
  display: flex;
  white-space: nowrap;
  justify-content: space-between;

  @media #{$small-only} {
    justify-content: flex-start;
    overflow-x: scroll;
    padding: 0px;
  }

  > [data-price-calendar-item] {
    display: inline-block;
    text-decoration: none;
    color: $gray-primary;
    font-size: 18px;
    cursor: pointer;
    border-radius: unset;

    .price-calendar-label {
      display: block;
      color: $gray-primary;
    }

    .price-calendar-value {
      display: inline-block;
      color: $gray-primary;
      fill: $gray-primary;
      font-weight: bold;
      font-size: 24px;
      border-radius: 4px;
      padding: 16px 16px 0 16px;

      &.no-price {
        color: $gray-tertiary;
        background-color: transparent;
      }
    }

    &:hover {
      box-shadow: inset 0px -4px $gray-tertiary;
    }

    &.active {
      .price-calendar-value {
        color: $blue-primary;
        fill: $blue-primary;
      }

      .price-calendar-label {
        color: $blue-primary;
        fill: $blue-primary;
      }

      color: $blue-primary;
      fill: $blue-primary;
      box-shadow: inset 0px -4px $blue-primary;
    }
  }
}

.prices-calendar::-webkit-scrollbar {
  display: none;
}
