.toast {
  position: fixed;
  bottom: -120px;
  opacity: 0;
  right: 25px;
  width: 325px;
  max-width: 100%;
  z-index: $z-index-1;
  padding: 1rem;
  transition: bottom 0.6s cubic-bezier(0.4, 0.0, 0.2, 1), opacity 0.4s linear;

  @media #{$small-only}, #{$medium-only} {
    width: auto;
    left: 0;
    right: 0;
  }
}

.toast-visible {
  bottom: 25px;
  opacity: 1;
}
