.icon {
  margin-left: 8px;
}
.center {
  text-align: center;
  vertical-align: center;
}
.submitted-form {
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 16px;
}
.error-message {
  display: none;
}
.error-message-lg {
  display: none;
}
.has-danger {
  .error-message {
    display: inline-block;
    font-size: 12px;
  }
  .error-message-lg {
    display: inline-block;
    font-size: 16px;
  }
}
.height {
  height: 60px;
}

.help-form input[type="radio"] {
  width: 20px;
}
