.lazy-load,
.lazy-loaded {
  @include transition(opacity 0.3s);
  opacity: 0;
}

.lazy-loaded {
  opacity: 1;
}

.hero-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
